body {
    font-family: Poppins;

}
.bg-home{
    position:fixed;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    animation: pic 6s ease-out 1;
}

@keyframes pic{
    from{
        width: 200vw;
        height: 120vh;
    }
    to{
        width: 100vw;
        height: 100vh;
    }
}

.shoot-star {
  position: fixed;
  width: 90px;
  height: 90px;
  z-index: 0;
}

.star-1 {
  animation: star1 4s ease-out infinite;
  top: 0;
  left: 0;
}

@keyframes star1 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(600px, 300px);
    opacity: 0;
  }
}



.star-3 {
  animation: star3 4s ease-out 7s infinite;
  top: -10%;
  left: 30%;
}

@keyframes star3 {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(600px, 300px);
    opacity: 0;
  }
}

.shoot-star img{
    width: 100%;
    height: 100%;
}


.back {
    margin-top: 13px;
    font-weight: 600;
    color: #8692A6;
    display: flex;
    align-items: baseline;
    top: 0;
    position: absolute;
    z-index: 2;

}

.back-icon {
    display: none;
}

.already-container {
    text-align: center;
    margin-top: 20px;
}

.new-to {
    margin-top: 40px;
}

.from-container {
    height: 100%;
    color: #696F79;
    padding-top: 10px
}

.text-input {
    max-width: 347px;
}

.text-input:focus {
    outline: none !important;
    border-color: #DD2C00;
    box-shadow: 0 0 10px #719ECE;
    border-width: 2px;
}

.form-checkbox:checked {
    background-color: #DD2C00 !important;
    border: 2px solid #DD2C00;
}

.signin-link {
    color: #f36e2c;
}

.signin-link:active {
    color: #DD2C00;
}

.form-checkbox:after {
    /*border:2px solid #DD2C00 ;*/
}

.bg-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-color: #719ECE;
}

.password-container {
    position: relative;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.password-input {
    padding-right: 54px !important;
}

.visibility {
    cursor: pointer;
    color: #777;
    position: absolute;
    margin-top: 22px;
    margin-right: 14px;
    top: 0;
    right: 0;
}

.input-fields {
    padding: 10px;
}

.submit-btn {
    background-color: #f36e2c;
    color: white;
    height: 64px;
    width: 348px;
    text-transform: none;
    font-size: 1.2rem;
    border:1px solid #f36e2c;

}

.submit-btn:hover {
    color: white;
    height: 64px;
    box-shadow: 0 0 10px #719ECE;
}

/*Authorize page styles*/

.auth-container {
    border-radius: 15px;
    border-width: 3px;
    width: 45rem;
    height: 35rem;

}

.form-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main-head {
    top: 0;
    color: #000000;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;

}

.hidden {
    display: none;
}

.sub-head {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 3rem;

}

.select-account {

    text-align: left !important;
    margin-top: 1.5rem;
    width: 80%;
}

.line {

    width: 85%;
}

.user-logo {
    display: block;
    font-size: 2rem;
    color: #DD2C00;
}

.helper-text {
    color: #DD2C00;
    margin-bottom: 0.5rem;
    margin-left: .2rem;
}

.details-container {

    display: inline;
    padding-left: 1rem;
    margin-top: 0;
}

.username-text {
    color: #0c0c0c;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    border: 0;
    padding-left: 0;
    text-align: left;
    background-color: white;

}

.username-text:hover {
    color: #DD2C00;
}

.email-text {
    padding-top: 0;
    font-size: .8rem;
    margin-top: -2px;

}

.list {
    border: 0;
    color: #555555;
    font-size: 12px;
}

.list-group-item {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media only screen and (max-width: 768px) {
    /* For small devices: */


    .back {
        display: none;
    }

    .back-icon {
        display: inline;
        align-items: baseline;
        margin-left: 10px;
        float: left;
        position: relative;
        color: #0c0c0c;
        height: 12px;
    }

    .auth-container {

        width: 85%;
        overflow-x: hidden;
        height: 60%;
    }

    .main-head {
        font-size: 1.5rem;


    }

    .sub-head {
        font-size: 1rem;

    }
}


/*verify*/


