{% extends 'dashboard.html' %}
{% block content %}

<div class="col-md-5 pt-5">
   <div class="card mb-4" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col m-4">
      <img src="https://picsum.photos/1000/1000" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Devaprasad N M</h5>
        <p class="card-text">devaprasamohanGmail.com</p>
        <p class="card-text"><small class="text-muted">7306290566</small></p>
          <h5 class="card-title">Number of seats to be verified </h5>
            <p class="card-text">8</p>

      </div>


    </div>


      <div class="col-md-12">
            <figcaption class="blockquote-footer text-warning">
    <cite title="Source Title">Verfied Seats are</cite>
  </figcaption>
                <ul class="list-group">
  <li class="list-group-item disabled">Total : 6 </li>

</ul>

      </div>


  </div>
</div>
    </div>

{% endblock %}