{% extends 'dashboard.html' %}
{% block content %}

<div class="card">
  <div class="card-header">
    Profile
  </div>
  <div class="card-body">
    <h5 class="card-title">Devaprasad</h5>
      <p class="card-text">devaprasadmohan@gmail.com</p>
      <p class="card-text">7306290566</p>
      <p class="card-text">Cusat email id</p>
      <p class="card-text">Seds email id</p>
      <p class="card-text">Institution</p>
      <p class="card-text text-warning">8 Tickets booked</p>


  </div>
</div>
{% endblock %}