{% extends 'auth_base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock %}

{% block body %}
    <body >
        <div class="bg-home">
            <img   class="bg-image" src="{% static 'img/earth.png' %}">
        </div>

        <span class="shoot-star star-1">
        <img src="{% static 'img/shoot.png' %}" alt="" />
      </span>



      <span class="shoot-star star-3">
        <img src="{% static 'img/shoot.png' %}" alt="" />
      </span>



    <section class="" style=" overflow-x: hidden" >
  <div class="bg " >
    <div class="row d-flex align-items-center justify-content-center h-100" >
         {% block form %}

        {% endblock %}
    </div>
  </div>
</section>

    </body>


{% endblock %}

{% block script %}

<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

{% endblock %}